_build/doctrees
_build/html/.doctrees

# Sphinx configuration files
*.pickle
*.log
*.doctrees
*.inv
*.rst.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS system files
.DS_Store

# Python files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
.env/


# This files are generated for local development
_build/html/dev/
_build/html/_images/
_build/html/_static/
_build/html/charts/
_build/html/configs/
_build/html/crossplane/
_build/html/datasets/
_build/html/genindex.html
_build/html/search.html
_build/html/searchindex.js
_build/html/sitemap.xml
_build/html/.buildinfo
_build/html/.buildinfo.bak
_build/html/examples/
_build/html/getting-started/
_build/html/latest
_build/html/_sources
_build/html/

# # only on dev branch, must not be merged with latest or main branch
# _build